*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200vh;
  width: 100%;
}
.nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: transparent;
  height: 80px;
  color: rgb(0, 0, 0);
  align-items: center;
  z-index: 2;
  backdrop-filter: blur(20px);
  /* border-bottom: 0.5px solid black; */
  position: sticky;
  top: 0;
}

.menu-navbar{
  display: flex;
  list-style: none;
  gap: 1rem;
}

/* 
.menu-navbar li:first-child{
  border-bottom: 1px solid rgb(141, 139, 139);
} */

.menu-navbar li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.menu-navbar li a:hover{
  border-bottom: 1px solid black;
  transition: ease-in-out 0.1s;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* opacity: 0; */
  z-index: 1;
  background-color: black;
  width: 100%;
}

.header .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  gap: 1rem;
}

.header p{
  z-index: 1;
  font-size: 20px;
}

.header h2{
  z-index: 1;
  font-size: 100px;
}

.header .container{
  z-index: 2 ;
  color: solid black;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header .button a{
  width: 100%;
  height: 100vh;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.8;
}


.header .button a:hover{
opacity: 3;
  transition: all 0.5S;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0)
}

/* .header img{
  border-radius: 20px;
  z-index: 1;
} */

/* .header svg{
  position: absolute;
  width: 600px;
  display: flex;
  justify-content: flex-start;
} */

/* .header .image{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  gap: 1.5rem;
  position: relative;
} */

.header::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
width: 100%;
height: 125vh;
background-size: cover;
background-image: url(image/background-hero-section.jpeg.jpg);

}

.main{
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 100px;
  background-size: cover;
  background-color: rgb(23, 23, 23);
}
@media screen and(max-width:576px) {
  .main{
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
}
.main .image-main{
  display: grid;
  justify-items: flex-end;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  gap: 0.3rem;
}

.main img{
  width: 280px;
}

.main .image-1{
  border-top-left-radius: 1000px;
border-top-right-radius: 30px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;

}

.main .image-2{
  border-top-left-radius: 100px;
border-top-right-radius: 400px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 20px;
}

.main .image-3{
  border-top-left-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 200px;
}

.main .image-4{
  border-top-left-radius: 20px;
border-top-right-radius: 10px;
border-bottom-right-radius: 150px;
border-bottom-left-radius: 20px;
}


.main .text-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main .text-main h1{
  z-index: 4;
}

.main .text-main p{
  z-index: 4;
}


.main svg{
  position: absolute;
  width: 800px;
}


/* .main{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  border: 1px solid black;
  background-image: url(https://i.pinimg.com/originals/d9/f5/32/d9f532e7279e04142cae79d8246eb907.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


.main .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main .menu .card{
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(20px);
}

.main .menu img{
  border-radius: 20px;
} */